<!doctype html>

<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Adriane Branco - Textos</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->
	
	
	<!--For Plugins external css-->
	<link rel="stylesheet" href="assets/css/plugins.css" />
	<link rel="stylesheet" href="assets/css/roboto-webfont.css" />
	
	<!--Theme custom css -->
	<link rel="stylesheet" href="assets/css/style.css">
	
	<!--Theme Responsive css-->
	<link rel="stylesheet" href="assets/css/responsive.css" />
	
	<script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body> 
	<div class='preloader'><div class='loaded'>&nbsp;</div></div>
	
	
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Logo" /></a> -->
				<a class="navbar-brand" href="#"><img src="../Site PSICO/assets/images/logo/3.png" class="logo" alt="Logo" />
					
				</a>
			</div>
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="index.html">Home</a></li>
					<li><a href="psicoterapia.html">PSICOTERAPIA</a></li>
					<li class="active"><a href="textos.html">TEXTOS</a></li>
					<li><a href="convenio.html">CONVÊNIO</a></li>
					<li><a href="localizacao.html">LOCALIZAÇÃO</a></li>
					<li class="login"><a href="#">Sign In</a></li>
				</ul>
				
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	
	
	
	<!-- Sections -->
	
	<!-- Main Content -->
	<section> <!--class="sections"--> 
		<div class="container">
			<p>
				<h3 class="text-center  text-uppercase">
					<strong>CONTRATEMPOS  DA VIDA AFETIVO SEXUAL DO CASAL</strong>
				</h3>
				<h5 class="post-subtitle text-center">
					Existem diversos fatores que podem interferir na atividade sexual de um casal. 
				</h5>
			</p>
			<hr class="divider">
			<div class="row">                
				<!-- inicio textos -->
				<div class="col-lg-12 col-md-12 mx-auto">                   
					<div>
						<p>Existem diversos fatores que podem interferir na atividade sexual de um casal. </p>
						<p>Não é possível elencar todos em um único texto, entretanto vou salientar os mais corriqueiros em minha pratica clinica. </p>
						<p>Em geral, o mais citado no inicio de atendimento é o “tempo de relacionamento”, a famosa rotina. Mas, tenho que lembrar que a rotina, não se estabelece sozinha, ao acaso. O que leva alguns casais a rotina, são em geral bons motivos. A expressão “não se mexe em time que esta ganhando” é muito utilizada. “Porque mudar algo que esta tão bom”, é ai que mora o perigo, mudar significa introduzir algo novo na relação, seja um passeio diferente ou qualquer outra situação que ainda não tenha sido experimentada pelo casal. Às vezes sair da zona de conforto é importante para não estabelecer uma rotina monótona. A rotina por si só não é algo para ser considerada ruim, ela é boa, pressupõe que as pessoas têm muito em comum para compartilhar. Ela passa a ser ruim, quando não esta interessante para um dos parceiros. Ou até mesmo para ambos.</p>
						<p>Isso se dá quando o casal não estabelece diálogo claro sobre assuntos comuns e também sobre assuntos que envolvem o sexo. Discursos truncados, onde os parceiros não se entendem, podem interferir na vida afetivo-sexual.
							<p>Outro ponto que afasta o casal é a falta de projetos de vida em comum. </p>
							<p>Atualmente as pessoas estão vivendo fases muito individualistas, independente de terem ou não um parceiro (a). A vida social e profissional, muitas vezes reforça este tipo de atitude. Este comportamento dentro do relacionamento contribui para o afastamento sexual do casal. Encontrar o que favorece isso e modificar, ajuda muito na reestruturação da relação afetiva.</p>
							<p>Existem outros fatores ainda, que não serão citados.</p>
							<p>Estas situações podem desencadear a falta de interesse por um dos parceiros, favorecendo afastamento e diminuindo o desejo sexual pelo outro.</p>
							<p>Normalmente é percebido por um dos membros do casal, ou até mesmo por ambos. Entretanto junto com esta percepção, vem um receio de tocar no assunto, pois um nunca sabe o que o outro esta pensando. </p>
							<p>Então o casal posterga o desconforto por algum tempo, às vezes por anos. E, individualmente se questionam sobre o afeto, “será que acabou o amor”.</p>
							<p>Quando concluem que há afeto, há pelo que “lutar”, procuram ajuda. Porém muitas vezes, este casal já se machucou bastante em pequenas discussões, ou mesmo indiretas verbais.</p>
							<p>Normalmente a primeira queixa esta relacionada a falta de sexo. Mas, após algumas sessões percebem que há outros temas a trabalhar em psicoterapia, antes da queixa sexual. São pequenas intercorrências do dia a dia, pequenas discussões, problemas não solucionados, magoas que acabam interferindo na atividade sexual.</p>
							<p>É possível reverter este quadro?</p>
							<p>Sim, se houver interesse e empenho de ambos. </p>
							
							<b>Adriane Branco</b>
							
						</div>
						<!-- fim textos -->				
						
					</div>
				</div>
			</section>							
			<!--End of Features 2 Section -->
			
			<!--Footer-->
			<footer id="footer" class="footer">
				<div class="container">
					<div class="row">
						<div class="footer-wrapper">
							
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="footer-brand">
									
									<img src="../Site PSICO/assets/images/logo/3.png" class="logo" alt="Logo" />
								</div>
							</div>
							
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="copyright">
									<p> All rights reserved.</p>
									
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</footer>
			
			
			<div class="scrollup">
				<a href="#"><i class="fa fa-chevron-up"></i></a>
			</div>
			
			
			<script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
			<script src="assets/js/vendor/bootstrap.min.js"></script>
			
			<script src="assets/js/plugins.js"></script>
			<script src="assets/js/modernizr.js"></script>
			<script src="assets/js/main.js"></script>
		</body>
		</html>
		