<!doctype html>

<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
   
        <!--Home page style-->
        <header id="home" class="home">
            <div class="overlay-fluid-block">
                <div class="container text-center">
                    <div class="row">
                        <div class="home-wrapper">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="home-content">

                                    <h1>ADRIANE BRANCO</h1>
                                    <p>Saiba o que é e como pode te ajudar</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>			
            </div>
        </header>

        <!-- Sections -->
		<section>
		    <div class="container">
                <div class="row">
					<div class="col-sm-12 ">
						<div class="single_features_right ">
							<p><i>"Sexualidade não designa apenas as atividades e o prazer que dependem do funcionamento genital, 
							mas toda uma série de excitações e de atividades presentes desde a infância que proporcionam um prazer irredutível 
							à satisfação de uma necessidade fisiológica fundamental." </i></p>                         
						</div>
					</div>
				</div>
			</div> 					
		</section>		                
     <p></p>
        <section id="service" class="service2 sections lightbg">
            <div class="container">
                <div class="row">
                    <div class="main_service2">
                        <div class="head_title text-center">
                            <h2>Formação</h2>
							<p>CRP - 06.66375   </p>
                            <p><b>Adriane Branco</p>
							
                        </div>

                        <div class="service_content">
                            
							<div class="col-md-12 col-sm-12">
                                <div class="single_service2">
                                    <div class="single_service_left">
                                        <img src="assets/images/notebook.png" alt="" />
                                    </div>
                                    <div class="single_service_right ">
										<ul>
											<li>Psicóloga formada pela UniFMU – Centro Universitário das Faculdades Metropolitanas Unidas - São Paulo</li>
											<li>Especialista em Sexualidade Humana pela FMUSP - Faculdade de Medicina da Universidade de São Paulo  </li>
											<li>Aperfeiçoamento em Terapia Cognitivo Comportamental pelo Centro Psicológico de Controle do Stress (CPCS)</li>
										</ul>
									</div>
                                </div>
                            </div>
								
							<div class="features_buttom text-center">
                                <a target="_blank" href="http://lattes.cnpq.br/2805596141902644" class="btn btn-default">Currículo lattes</a>
                            </div>	
							
							 
                          
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End of Service2 Section -->		

        <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-wrapper">

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-brand">
                                
                                <img src="../Site PSICO/assets/images/logo/3.png" class="logo" alt="Logo" />
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="copyright">
                                 <p> All rights reserved.</p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
		
		
		<div class="scrollup">
			<a href="#"><i class="fa fa-chevron-up"></i></a>
		</div>


        <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>

        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/modernizr.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
